<li class="nav-item" style="display:none;">
  <button id="dremel_connect_button" class="btn btn-sm btn-default navbar-btn" title="Connect to Dremel printer">
    Connect Dremel
  </button>
</li>

<li id="navbar_plugin_controleur_emergency" class="dropdown">
    <button id="controleur_emergency_button"
            class="btn btn-sm btn-danger"
            style="margin-top: 8px;">
        <span id="controleur_emergency_text">Eteindre d'urgence</span>
    </button>
</li>
<li id="navbar_plugin_controleur" class="dropdown">
    <button id="controleur_power_button"
            class="btn btn-sm btn-danger"
            style="margin-top: 8px;">
        <span id="controleur_power_text">OFF</span>
    </button>
</li>

