<div id="controleur_iframe_container" style="width:100%; height:100%;">
    <iframe 
        src="https://oscartesniere.com/imprimante"
        style="width:100%; height:100%; border:none;"
        id="controleur_console_iframe">
    </iframe>
</div>
